<div id="hand-col-div">
    <table>
        <thead>
            <tr>
                <th> Aperçu </th>
                <th> Nom </th>
                <th> Code Hexa </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
        {% for color in colGrp %}
            <tr>
                <td style="background-color: {{ color.colorHexCode }} "> </td>
                <td> {{ color.colorName }} </td>
                <td> {{ color.colorHexCode }} </td>
                <td class="act-td"> 
                    <button data-id="{{ color.id }}"> Modifier </button>
                    <button data-id="{{ color.id }}"> Supprimer </button>
                </td>
            </tr>           
        {% endfor %}
        </tbody>
    </table>   
</div>